body {
  background-color: #393E46;
  text-align: center;
  margin: 0px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  font-size: 8rem;
  margin: 2rem;
  text-shadow: 5px 0px black;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer{
  color: white;
  margin-top: 10%;

}

.playerBlock{
  display: inline-block;
  margin: 1%;
  text-align: center;
}
